body {
  background-image: url("/img/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 2.5rem;
  padding: 10px 20px;
  margin: -20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.858);
  color: greenyellow;
  margin-bottom: 20px;
}
h2 {
    
    padding: 10px 20px;
    margin: -20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.858);
    color: greenyellow;
    margin-bottom: 20px;
  }
.container {
  background-color: black;

  width: 100vw; /* Ancho del div principal */
  height: 85px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 1px solid black;
  position: sticky;
  top: 0;
  left: 0;
  margin-left: -8px;
}
.element > p {
  margin: 0;
}
.element > p:first-child {
  font-size: large;
  font-weight: bold;
}
.element {
  align-items: center;
  padding: 10px;
  min-width: 150px; /* Ancho de los elementos */
  border-right: 1px solid black;
  animation: moveElements calc(2s * var(--element-count)) linear infinite;
  display: flex;
  gap: 2px;
  align-items: start;
  flex-direction: column;
}

@keyframes moveElements {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% * var(--element-count)));
  }
}
.indices-container {
    min-height: 700px;


  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-height: 30vh;
  min-width: 1000px;
  max-width: 1000px;
  overflow: scroll;
}
.indice-element {
  background-color: aliceblue;
  margin: 10px;
  width: 350px;
  padding-bottom: 10px;
  border: solid 1px black;
  max-height: 300px;
  border-radius: 15px;
}
.card {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 15px;
}
.indice-name {
  font-size: xx-large;
  text-align: center;
}
hr {
  width: 100%;
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.section {
    min-height: 700px;
  overflow: hidden;
  min-width: 1000px;
  max-width: 1000px;

  background-color: rgba(245, 245, 220, 0.881);
  margin: 0 100px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.section-chart {
  background-color: aliceblue;
  margin: 0 100px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid black;
  min-height: 200px;
  min-width: 400px;
  overflow: hidden;
}
li{
    list-style:none
}
label{
    font-size: 1.2rem;
}
.lista-indice-container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-content: start;
}

.element {
    min-width: 150px; /* Ancho de los elementos */
    height: 100px; /* Altura de los elementos (opcional) */
    border: 1px solid black;
    box-sizing: border-box;
    animation: moveElements calc(2s * var(--element-count)) linear infinite;
  }

  @keyframes moveElements {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% * var(--element-count)));
    }
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
  }
  .negative{
    color: rgb(222, 51, 51);
  }
  .positive{
    color: greenyellow;
  }
  .content>div:first-child{
    border: 1px solid black;
    background-color: aliceblue;
    min-width: 250px;
    width: 30%;
    overflow: scroll;
  }
  .content>div:last-child{
    
    width: 70%;
    
  }