<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/charts.js}"></script>
  </head>

  <body>
    <div class="section">
      <h1>Indices</h1>
      <div class="indices-container"></div>
    </div>
    <div class="section">
      <h1>Graficos</h1>
      <div class="content">
        <div class="lista-indice-container">
          <h2>Indices</h2>
          <ul class="lista-indices"></ul>
        </div>
        <div>
          <div class="section-chart">
            <h2>Valores</h2>
            <canvas class="chart" id="valuesChart"></canvas>
          </div>

          <div class="section-chart">
            <h2>Variación</h2>
            <canvas class="chart" id="variationChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
